@import "../../variables";

.footer {
  width: 100%;
  height: $footer-height;
  padding: $footer-padding 10px;
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
  background: linear-gradient(244.28deg, #2F01B3 1.29%, #4205BD 1.3%, #9112CD 53.88%, #D300D8 101.26%);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='73' height='73' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Crect width='100%25' height='100%25' fill='rgba(42, 67, 101,0)'/%3E%3Cpath d='M 0 20a 15.5 15.5 0 0 0 31 0h-11a 4.5 4.5 0 0 1-9 0z' fill='rgba(190, 227, 248,1)'/%3E%3Cpath d='M-20 20a 15.5 15.5 0 0 1 31 0h-11a 4.5 4.5 0 0 0-9 0zM 20 20a 15.5 15.5 0 0 1 31 0h-11a 4.5 4.5 0 0 0-9 0z ' fill='rgba(233, 216, 253,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    height: inherit;
    padding: $footer-padding;
    opacity: 7%;
  }

  .image-container {
    width: 200px;
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;

    a {
      color: white;
      text-decoration: underline;
      font-weight: 600;
      position: relative;
      z-index: 1;
    }
  }
}